@media (min-width: 900px){
    .container{
        position: unset !important;
    }
    .add-transaction-container{
        width: 70vw !important;
        position: unset !important;
        margin: auto;
    }
}
.container{
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.container h1{
    color: white;
}

main{
    align-items: center;
}

.carteira{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    color: white;
}

.carteira span{
    font-size: 1.5rem;
    font-weight: 600;
}
.carteira span:first-child{
    text-align: center;
}


.add-transaction-container{
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
    height: 100vh;
    border-radius: 0 !important;
    padding: 0;
    padding-top: 20px;
}

.hidden{
    display: none;
}

.fade-out{
    opacity: 0;
    transform: translateX(50px);
}

.fade-in{
    opacity: 1;
    transform: translateX(0);
}

#history{
    display: flex;
    justify-content: space-between;
}