@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.esquerdaLogo{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, var(--preto), var(--roxo));
}

.esquerdaLogo span{
    color: white;
    font-weight: 700;
    font-size: 3rem;
}

.direitaForm{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--preto);
    gap: 5rem;
}

.formImg{
    width: 37.5rem;
    height: 37.5rem;
}

.formImg img{
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.direitaBottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--preto);
    color: white;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.direitaBottom span:nth-child(1){
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.direitaBottom a:nth-child(2){
    border: none;
    border-radius: 40px;
    font-size: 2rem;
    width: 75%;
    height: 15%;
    background-color: var(--azul);
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 27px 67px -3px rgba(51,176,246,0.61);
-webkit-box-shadow: 2px 27px 67px -3px rgba(51,176,246,0.61);
-moz-box-shadow: 2px 27px 67px -3px rgba(51,176,246,0.61);
}

.direitaBottom span:nth-child(3){
    font-size: 1.2rem;
}

.direitaBottom span:nth-child(3) a{
    text-decoration: none;
    color: var(--azul);
}

@media (max-width: 1200px){
    .esquerdaLogo{
        display: none;
    }
}

@media (max-width: 768px){
    html{
        font-size: 11px;
    }
    .container{
        width: 100vw;
        height: 100vh;
    }
    .esquerdaLogo{
        display: none;
    }

    .direitaBottom span{
        text-align: center;
    }
}
