.chart-container{
    width: 50%;
    height: 25%;
    margin-top: 2rem;
}

.header{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.time-frame{
    display: flex;
    margin-top: 2rem;
    border-radius: 40px;
    justify-content: center;
}
.time-frame button{
    border: none;
    font-size: 1.2rem;
    padding: 5px 12px;
    cursor: pointer;
    background-color: transparent;
    margin-right: 24px;
    transition: filter .3s ease;
    border-radius: 24px;
    color: white;
}

.time-frame button:hover{
    filter: brightness(.7);
}

.selected{
    background-color: var(--azul);
    color: var(--verde-agua);
}


.chart-container canvas{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.container h1{
    color: white;
}

.registerForm h1{
    color: white;
}
