<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/index.css">
    <link rel="stylesheet" href="/Style/login-register.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <section class="esquerdaImg">
            <img src="/Resources/Img/happy-woman-smiling.jpg" alt="happy-woman-smiling">
        </section>
        <div class="direitaForm">
            <span>Bem-vindo de volta!</span>
            <div class="formImg">
                <img src="/Resources/Img/loginImg.png">
            </div>
            <form action="" class="registerForm">
                <div class="floating-label-group">
                    <input type="email" name="" class="floating-input" placeholder=" " id="">
                    <label class="floating-label">Email</label>
                </div>
                <div class="floating-label-group">
                    <input type="password" name="" class="floating-input" placeholder=" " id="">
                    <label class="floating-label">Senha</label>
                </div>
                <input class="registerBtn" type="submit" value="Entrar">
                <span>Não tem uma conta? <a href="/View/register.html">Criar conta</a></span>
            </form>
        </div>
    </div>
</body>
</html>