<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/home.css">
    <link rel="stylesheet" href="/Style/profile.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <span>Perfil</span>
        </header>
        <div class="profile-info">
            <div class="profile-image">
                <img src="/Resources/Icons/user-solid.svg" alt="user">
            </div>
            <span id="name">
                Nome
            </span>
            <span id="email">
                email@email.com
            </span>
        </div>
        <div class="options">
            <a href="" class="change-name">Mudar nome</a>
            <a href="" class="change-password">Mudar senha</a>
            <a href="" class="logout">Sair</a>
        </div>
        <footer class="navigation-bar">
            <div class="navigation-bar-items">
                <a href="/View/home.html">
                    <img src="/Resources/Icons/house-solid.svg" alt="">
                </a>
                <a href="/View/statistics.html">
                    <img src="/Resources/Icons/chart-simple-solid.svg" alt="">
                </a>
                <a href="/View/wallet.html">
                    <img src="/Resources/Icons/wallet-solid.svg" alt="">
                </a>
                <a href="#">
                    <img src="/Resources/Icons/user-solid.svg" alt="">
                </a>
            </div>
            <a class="add-button" href="#">+</a>
        </footer>
    </div>
</body>
</html>