<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/index.css">
    <link rel="stylesheet" href="/Style/register.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <section class="esquerdaImg">
            <img src="/Resources/Img/woman-lookingphone.jpg" alt="woman-lookingphone">
        </section>
        <section class="direitaForm">
            <span>Começa a salvar seu dinheiro!</span>
            <div class="formImg">
                <img src="/Resources/Img/registerImg.png">
            </div>
            <form class="registerForm" action="">
                <div class="floating-label-group">
                    <input type="text" name="" class="floating-input" placeholder=" " id="">
                    <label class="floating-label">Nome Completo<w/label>
                </div>
                <div class="floating-label-group">
                    <input type="email" name="" class="floating-input" placeholder=" " id="">
                    <label class="floating-label">Email</label>
                </div>
                <div class="floating-label-group">
                    <input type="password" name="" class="floating-input" placeholder=" " id="">
                    <label class="floating-label">Senha</label>
                </div>
                <div class="floating-label-group">
                    <input type="password" name="" class="floating-input" placeholder=" " id="">
                    <label class="floating-label">Confirmar senha</label>
                </div>
                <input type="submit" class="registerBtn" value="Cadastrar">
                <span>Já tem uma conta? <a href="/View/login.html">Entrar</a></span>
            </form>
        </section>
    </div>
</body>
</html>