<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/home.css">
    <link rel="stylesheet" href="/Style/wallet.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <span>Carteira</span>
        </header>
        <section class="balance">
            <span>Saldo Total</span>
            <span>R$0</span>
        </section>
        <div class="transactions">
            <span>Transações</span>
            <div class="transactions-item">
                <div>
                    <span>upwork</span>
                    <span>hoje</span>
                </div>
                <div>
                    <span>R$0</span>
                    <span>concluído</span>
                </div>
            </div>
        </div>
        <footer class="navigation-bar">
            <div class="navigation-bar-items">
                <a href="/View/home.html">
                    <img src="/Resources/Icons/house-solid.svg" alt="">
                </a>
                <a href="/View/statistics.html">
                    <img src="/Resources/Icons/chart-simple-solid.svg" alt="">
                </a>
                <a href="#">
                    <img src="/Resources/Icons/wallet-solid.svg" alt="">
                </a>
                <a href="/View/profile.html">
                    <img src="/Resources/Icons/user-solid.svg" alt="">
                </a>
            </div>
            <a class="add-button" href="#">+</a>
        </footer>
    </div>
</body>
</html>